* {
    /* background-color: rgba(255, 0, 0, 0.1); */
    outline: 1px dashed green;
}

/* source: https://allyjs.io/tutorials/hiding-elements.html */
.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

/* main-header */

.main-header {
    width: 100%;
    padding-bottom: 60px;

    font-family: Cuprum, Arial, sans-serif;

    background-color: #f3f7f8;
}

.main-header__top {
    background-color: #33445a;
    color: #ffffff;
}

.main-header__top-actions {
    display: flex;

    min-height: 42px;
    margin-bottom: 46px;
}

.main-header__action-links {
    display: flex;

    justify-content: flex-end;
    flex-wrap: wrap;
}

.main-header__middle {
    display: flex;

    margin-bottom: 40px;
}

.main-header__logo {
    box-sizing: border-box;
    width: 220px;
    padding-top: 9px;

    text-align: center;
    box-shadow: 0 5px #b0202b;
}

.main-header__logo,
.footer-nav__logo {
    background-color: #ef3341;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Cuprum, Arial, sans-serif;
    font-size: 24px;
}

.main-header__logo:not(.main-header__logo--static):hover,
.footer-nav__logo:hover {
    background-color: #cb2834;
}

.main-header__logo:not(.main-header__logo--static):active,
.main-header__logo:not(.main-header__logo--static):focus,
.footer-nav__logo:active,
.footer-nav__logo:focus {
    background-color: #bb222e;
}

.main-header__search {
    margin-right: auto;
}

.main-header__search-input {
    display: block;

    width: 267px;
    border: 0;

    color: #ffffff;
    background-color: rgba(255, 255, 255, 0);
    font-size: 17px;
    line-height: 42px;
}

.main-header__search-input:hover {
    background-color: #212a3a;
}

.main-header__search-input:focus,
.main-header__search-input:active {
    color: #000000;
    background-color: #ffffff;
}

.main-header__top-actions:hover {
    background-color: #212a3a;
}

.main-header__title {
    box-sizing: border-box;

    width: 320px;
    margin: 0;
    padding-left: 53px;
    padding-right: 30px;

    color: #ee3643;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
}

.main-header__contacts {
    width: 270px;
    margin: 0;
}

.main-header__phone {
    display: block;

    border: 3px solid #ffffff;
    margin-bottom: 4px;
    padding-left: 71px;
    padding-top: 5px;
    padding-bottom: 7px;

    color: #ee3643;
    font-size: 21px;
}

.main-header__phone:hover,
.main-header__phone:active,
.main-header__phone:focus {
    color: rgba(238, 54, 67, 0.5);
}

.main-header__address {
    display: block;

    color: #32425c;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

/* top-actions */

.main-header__link {
    box-sizing: border-box;

    width: 150px;
    padding-left: 15px;

    font-family: Cuprum, Arial, sans-serif;
    color: #ffffff;
    font-size: 17px;
    text-align: center;
    line-height: 41px;
}

.main-header__link:active,
.main-header__link:focus {
    color: rgba(255, 255, 255, 0.5);
    background-color: #161d29;
}

.main-header__link--order {
    padding-left: 0;

    color: #ffffff;
    background-color: #63a63e;
}

.main-header__link--order:hover {
    background-color: #5fbb2d;
}

.main-header__link--order:focus,
.main-header__link--order:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #518534;
}

/* breadcrumbs */

.breadcrumbs {
    display: flex;

    list-style: none;
}

.breadcrumbs__item {
    margin-right: 40px;

    font-size: 13px;
    text-transform: uppercase;
}

.breadcrumbs__item--home {
    background-color: #ffffff;
    color: #c1c6ce;
    background-image: url("../img/icon-home.svg");
    background-repeat: no-repeat;
}

/* TODO: Как оформить .main-header__order-link при активном .main-header__search-input? */

/* account-actions */

.main-header__account-actions {
    display: flex;

    margin: 0;
    margin-left: auto;


    justify-content: flex-end;
    flex-wrap: wrap;

    list-style: none;
}

.main-header__account-action {

}

.main-header__account-action--logout {
    width: 100%;
}

.main-header__account-action-button {
    display: block;

    height: 45px;
    margin-left: 10px;
    padding-right: 24px;
    padding-left: 24px;

    background-color: #ffffff;
    color: #000000;
    font-size: 21px;
    line-height: 40px;
}

.main-header__account-action-button__register {
    width: 150px
}

.main-header__account-action-button--login {
    padding-right: 25px;
    padding-left: 48px;
}

.main-header__account-action-button:hover {
    color: #ee3643;
}

.main-header__account-action-button:focus,
.main-header__account-action-button:active {
    color: rgba(0, 0, 0, 0.5);
}

/* .account-actions__logout { */
/*     background-color: #ffffff; */
/*     line-height: 45px; */
/* } */

/* .account-actions__logout-button { */
/*     height: 45px; */
/*     width: 299px; */
/*     background-color: #ffffff; */
/*     background-image: url("../img/icon-logout.svg"); */
/*     background-repeat: no-repeat; */
/*     background-position: 269px 50%; */

/*     border: none; */
/* } */

/* .account-actions__logout-button:hover, */
/* .account-actions__logout-button:active, */
/* .account-actions__logout-button:focus { */
/*     /\* DONE: Будет рассматриваться позже TODO: Как изменить цвет или прозрачность? *\/ */
/*     background-image: url("../img/icon-logout.svg"); */
/* } */

/* .account-actions__logout-button::before { */
/*     content: " "; */
/* } */

/* .account-actions__text { */
/*     font-size: 21px; */
/* } */

.main-header__account-links-wrapper {
    display: flex;
}

.main-header__account-link a {
    color: #32425c;
    text-decoration: underline;
}

.main-header__account-link a:hover {
    color: #ee3643;
}

.account-actions__personal a:active,
.account-actions__personal a:focus {
    color: rgba(50, 66, 92, 0.5);
}

/* main-nav */

.main-nav {
    color: #ffffff;
    background-color: #f3f7f8;
}

.main-nav__list {
    display: flex;

    margin: 0;
    padding: 0;
    /* padding-top: 0; */
    /* padding-bottom: 0; */
    /* padding-left: 22px; */
    /* padding-right: 24px; */

    justify-content: space-between;

    list-style: none;
    background-color: #2e405c;
    color: #ffffff;
    box-shadow: 0 3px #263147;
}

.main-nav__item {
    flex-grow: 1;

    font-family: Cuprum, Arial, sans-serif;
    font-size: 17px;
    text-align: center;
    line-height: 56px;
}

.main-nav__item:first-child a {
    padding-left: 21px;
    padding-right: 4px;
}

.main-nav__item:last-child a {
    padding-left: 5px;
    padding-right: 23px;
}

.main-nav__item a {
    display: block;

    color: #ffffff;
}

.main-nav__item:not(.main-nav__item--current) a:hover {
    background-color: #293449;
}

.main-nav__item:not(.main-nav__item--current) a:active,
.main-nav__item:not(.main-nav__item--current) a:focus {
    background-color: #1d2739;
    color: rgba(255, 255, 255, 0.5);
}

/* main */

.main {
    padding-bottom: 86px;
}

.main--catalog {
    flex-direction: column;
}

.main__title {
    background-color: #f2f6f8;
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #32425c;
}

.main__catalog-choice {
    display: flex;
}

.main-filter {
    width: 220px;
    margin-right: 20px;
}

.main-filter__title {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}

.main-filter__list {
    list-style: none;
}

/* TODO: Разобраться, как стилизовать hover и active */
.main-filter__item {
    font-size: 15px;
    text-transform: uppercase;
}

.main-filter__submit {
    background-color: transparent;
    border: 1px solid #e6e6e6;
    font-weight: 13px;
    text-transform: uppercase;
}

.main-filter__submit:hover {
    border-color: #bec7cb;
}

.main-filter__submit:active,
.main-filter__submit:focus {
    border-color: #ef3341;
}

/* catalog */

.catalog {
    display: flex;

    width: 700px;

    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
}

.catalog__list {
    display: flex;

    margin: 0;
    padding: 0;

    justify-content: space-between;
    flex-wrap: wrap;

    list-style: none;
}

.catalog__item {
    width: 220px;
    border: 1px solid #e6e6e6;
}

.goods-card__link {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.goods-card__price {
    font-size: 17px;
    font-weight: bold;
}

.goods-card__price::after {
    content: " р.";
    text-transform: uppercase;
}

.goods-card__price--old {
    color: #999999;
    text-decoration-line: line-through;
}

.goods-card__price--new {
    background-color: #ef3341;
    color: #ffffff;
}

.goods-card__button {
    border: 3px solid;
    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
}

.goods-card__button--submit {
    border-color: #63a83c;
    padding-left: 49px;
    background-color: #63a83c;
    /* DONE: Будет рассмотрено позже TODO: Как изменить цвет или прозрачность? */
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
}

.goods-card__button--submit:hover {
    border-color: #5fbc29;
    background-color: #5fbc29;
}

.goods-card__button--submit:active,
.goods-card__button--submit:focus {
    border-color: #508631;
    background-color: #508631;
}

.goods-card__button--bookmark {
    border-color: #63a83c;
    padding-left: 49px;
    color: #32425c;
    background-color: #ffffff;
    /* DONE: Будет рассмотрено позже TODO: Как изменить цвет или прозрачность? */
    background-repeat: no-repeat;
}

.goods-card__button--bookmark:hover {
    border-color: #2e405c;
    color: #32425c;
}

.goods-card__button--bookmark:active,
.goods-card__button--bookmark:focus {
    border-color: rgba(46, 64, 92, 0.5);
    color: rgba(50, 66, 92, 0.5);
}

/* pagination */

.pagination__list {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
}

.pagination__item {
    margin-right: 10px;

    font-size: 13px;
}

.pagination__item a {
    border: 1px solid #bec7cb;
    color: #000000;
}

.pagination__item a:hover,
.pagination__button:hover {
    border-color: #bec7cb;
}

.pagination__item a:active,
.pagination__item a:focus,
.pagination__button:active,
.pagination__button:focus {
    border-color: #ef3341;
}

.pagination__item--current {
    color: #ffffff;
    background-color: #ef3341;
}

.pagination__button {
    border: 1px solid #bec7cb;
    background-color: #ffffff;
}

/* group-descr */

.group-descr__title {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

.group-descr__text {
    font-size: 13px;
}

/* about, contacts */

.main__about-wrapper {
    display: flex;

    padding-top: 77px;

    background-color:
}

.about {
    width: 640px;
}

.about,
.contacts {
    font-family: Cuprum, Arial, sans-serif;
    color: #000000;
}

.about__delivery-list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 31px;
    padding-left: 36px;
}

.about__delivery-item {
    margin-bottom: 9px;

    font-size: 18px;
    line-height: 31px;
}

.about__title,
.contacts__title {
    display: block;

    padding-bottom: 15px;

    font-size: 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.about__text {
    width: 540px;
    margin-top: 0;
    margin-bottom: 15px;
    padding-top: 9px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.about__details-link {
    padding-left: 41px;
    padding-right: 40px;
}

.about__details-link,
.contacts__feedback-link {
    display: inline-block;

    height: 38px;

    color: #ffffff;
    font-size: 14px;
    line-height: 38px;
    text-transform: uppercase;

    background-color: #ef3341;
}

.about__details-link:hover,
.contacts__feedback-link:hover {
    background-color: #cb2834;
}

.about__details-link:active,
.about__details-link:focus,
.contacts__feedback-link:active,
.contacts__feedback-link:focus {
    background-color: #bb222e;
}

.contacts {
    width: 300px;
}

.contacts__title {
    margin: 0;
}

.contacts__text {
    width: 220px;
    margin-top: 0;
    margin-bottom: 32px;
    padding-top: 9px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.contacts__map {
    margin-bottom: 36px;
}

.contacts__feedback-link {
    display: block;
    padding-left: 65px;
}

/* footers */

.footer-nav {
    background-color: #3d546e;
    color: #ffffff;

    font-family: Cuprum, Arial, sans-serif;
}

.footer-nav__main-nav {
    display: flex;

    margin-bottom: 32px;
}

.footer-nav__logo {
    width: 220px;
    height: 64px;
    margin-right: auto;

    font-size: 30px;
    line-height: 64px;
    text-align: center;
    box-shadow: 0 3px #b0202b;
}

.footer-nav__main-nav-list {
    display: flex;

    margin: 0;
    padding-top: 39px;
    padding-bottom: 0;

    list-style: none;
}

.footer-nav__main-nav-item {
    margin-left: 59px;
}

.footer-nav__main-nav-item a {
    font-size: 18px;
    color: #f1f5f7;
}

.footer-nav__main-nav-item a:hover {
    text-decoration: underline;
}

.footer-nav__main-nav-item a:active,
.footer-nav__main-nav-item a:focus {
    color: rgba(255,255,255,0.5);
}

.footer-nav__catalog-nav {
    display: flex;

    padding-bottom: 52px;
}

.footer-nav__contacts {
    width: 380px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    padding-left: 4px;
    line-height: 22px;
}

.footer-nav__catalog-nav-list {
    display: flex;

    margin: 0;
    padding-left: 0;
    padding-top: 1px;

    list-style: none;
}

.footer-nav__catalog-nav-item {
    margin-left: 60px;
}

.footer-nav__catalog-nav-item a {
    font-size: 18px;
    color: rgb(255, 210, 129);
}

.footer-nav__catalog-nav-item a:hover {
    text-decoration: underline;
}

.footer-nav__catalog-nav-item a:active,
.footer-nav__catalog-nav-item a:focus {
    color: rgb(255, 210, 129, 0.5);
}

.footer-nav__address,
.footer-nav__phone {
    font-size: 18px;
}

.footer-nav__phone {
    color: #ffffff;
}

.footer-nav__phone:hover,
.footer-nav__phone:active,
.footer-nav__phone:focus {
    color: rgba(255,255,255,0.5);
}

.footer-contacts {
    padding-bottom: 32px;
    background-color: #33445b;
    color: #ffffff;

    font-family: Cuprum, Arial, sans-serif;
}

.footer-contacts__main {
    display: flex;
}

.footer-contacts__owner-copyright {
    width: 390px;
    margin: 0;
    padding-left: 1px;
    padding-top: 36px;

    font-size: 16px;
}

.footer-contacts__social-list {
    margin: 0;
    padding-left: 0;
    padding-top: 34px;
    width: 250px;

    list-style: none;
    font-size: 0;
}

.footer-contacts__social-icon {
    display: inline-block;

    height: 42px;
    width: 42px;
    margin-right: 2px;

    border-radius: 24px;
    background-color: #1b2537;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/* TODO: Как показать ссылку? */
.footer-contacts__social-icon a::before {
    content: " ";
}

.footer-contacts__social-icon--vkontakte {
    background-image: url("../img/icon-vk.svg");
}

.footer-contacts__social-icon--facebook {
    background-image: url("../img/icon-fb.svg");
}

.footer-contacts__social-icon--instagram {
    background-image: url("../img/icon-insta.svg");
}

.footer-contacts__feedback {
    width: 160px;
    padding-top: 36px;
}

.footer-contacts__dev-copyright {
    box-sizing: border-box;
    width: 140px;
    padding-left: 29px;
    padding-top: 36px;
}

.footer-contacts__feedback,
.footer-contacts__dev-copyright {
    font-size: 16px;
}

.footer-contacts__feedback-text,
.footer-contacts__dev-copyright-text {
    color: #ffffff;
}

.footer-contacts__feedback-link,
.footer-contacts__dev-copyright-link {
    color: #ffd180;
}

.footer-contacts__feedback-link:hover,
.footer-contacts__dev-copyright-link:hover {
    text-decoration: underline;
}

.footer-contacts__feedback-link:active,
.footer-contacts__feedback-link:focus,
.footer-contacts__dev-copyright-link:active,
.footer-contacts__dev-copyright-link:focus {
    color: #ef3341;
}



/* ------------------------------------- */

.main-footer {
    display: flex;
    flex-direction: column;
    font-family: Cuprum, Arial, sans-serif;
}

.main-footer__top {
    background-color: #2e405c;
    color: #ffffff;
}

.main-footer__top-container {
    display: flex;
}

.main-footer__bottom-container {
    display: flex;
}

.main-footer__top-left {
    width: 380px;
    margin-right: 10px;
}

.main-footer__top-right {
    width: 550px;
}

.main-footer__bottom {
    background-color: #293449;
    color: #ffffff;
}

.main-footer__address,
.main-footer__phone {
    font-size: 18px;
}

.main-footer__phone {
    color: #ffffff;
}

.main-footer__phone:hover,
.main-footer__phone:active,
.main-footer__phone:focus {
    color: rgba(255,255,255,0.5);
}

.main-footer-groups-nav__list {
    display: flex;

    justify-content: flex-end;

    list-style: none;
}

.main-footer-groups-nav__item a {
    margin-left: 60px;

    font-size: 18px;
    color: rgb(255, 210, 129);
}

.main-footer-groups-nav__item a:hover {
    text-decoration: underline;
}

.main-footer-groups-nav__item a:active,
.main-footer-groups-nav__item a:focus {
    color: rgb(255, 210, 129, 0.5);
}

.modal {
    display: none;
}
