* {
    /* background-color: rgba(255, 0, 0, 0.1); */
    /* outline: 1px dashed green; */
}

/* source: https://allyjs.io/tutorials/hiding-elements.html */
.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

/* main-header */

.main-header {
    width: 100%;
    padding-bottom: 60px;

    font-family: Cuprum, Arial, sans-serif;

    background-color: #f3f7f8;
}

.main-header__top {
    margin-bottom: 48px;

    background-color: #33445a;
    color: #ffffff;
}

.main-header__top-actions {
    display: flex;

    min-height: 42px;
}

.main-header__action-links {
    display: flex;

    flex-wrap: wrap;
}

.main-header__middle {
    display: flex;

    margin-bottom: 40px;
}

.main-header__logo {
    padding-top: 9px;
    padding-left: 55px;
    padding-right: 55px;

    text-align: center;
    box-shadow: 0 5px #b0202b;
}

.main-header__logo,
.main-footer__logo {
    background-color: #ef3341;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Cuprum, Arial, sans-serif;
    font-size: 24px;
}

.main-header__logo:not(.main-header__logo--static):hover,
.main-footer__logo:hover {
    background-color: #cb2834;
}

.main-header__logo:not(.main-header__logo--static):active,
.main-header__logo:not(.main-header__logo--static):focus,
.main-footer__logo:active,
.main-footer__logo:focus {
    background-color: #bb222e;
}

/* main-header__search */

.main-header__search {
    position: relative;

    margin-right: auto;
}

.main-header__search-input {
    display: block;

    border: 0;
    width: 220px;
    min-height: 40px;
    padding-left: 49px;

    color: #ffffff;
    font-size: 17px;
    line-height: 40px;          /* input's padding is 1px*/
    background-color: rgba(255, 255, 255, 0);
}

.main-header__search-input:hover {
    background-color: #212a3a;
}

.main-header__search-input:focus,
.main-header__search-input:active {
    color: #000000;
    background-color: #ffffff;
}

.main-header__search-submit {
    position: absolute;

    border: none;
    padding: 0;
    top: 0;
    left: 0;
    width: 49px;
    height: 44px;

    background: url("../img/icon-search-transparent.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    font-size: 0;
    cursor: pointer;
}

.main-header__search-input:hover + .main-header__search-submit,
.main-header__search:hover > .main-header__search-submit {
    background-image: url("../img/icon-search.svg");
}

.main-header__search-input:active + .main-header__search-submit,
.main-header__search-input:focus + .main-header__search-submit {
    background-image: url("../img/icon-search-ed3543.svg");
}

/* main-header__title */

.main-header__title {
    box-sizing: border-box;

    width: 320px;
    margin: 0;
    padding-left: 53px;
    padding-right: 30px;

    color: #ee3643;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
}

.main-header__contacts {
    width: 270px;
    margin: 0;
}

.main-header__phone {
    position: relative;
    display: block;

    box-sizing: border-box;

    width: 270px;
    border: 3px solid #ffffff;
    margin-bottom: 4px;
    padding-left: 71px;
    padding-top: 7px;
    padding-bottom: 7px;

    color: #ee3643;
    font-size: 21px;
}

.main-header__phone::before {
    content: "";
    position: absolute;

    width: 19px;
    height: 19px;
    top: 50%;
    left: 13px;
    margin-top: -10px;

    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.main-header__address {
    display: block;

    color: #32425c;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

/* top-actions */

.main-header__link {
    position: relative;

    box-sizing: border-box;

    width: 150px;
    padding-left: 17px;

    font-family: Cuprum, Arial, sans-serif;
    color: #ffffff;
    font-size: 17px;
    text-align: center;
    line-height: 41px;
}

.main-header__link:hover:not(.main-header__link--order):not(.main-header__link--full) {
    background-color: #212939;
}

.main-header__link:active,
.main-header__link:focus {
    color: rgba(255, 255, 255, 0.5);
    background-color: #161d29;
}

.main-header__link--full {
    padding-left: 23px;

    background-color: #ed3543;
}

.main-header__link--bookmarks::before,
.main-header__link--cart::before {
    content: "";

    position: absolute;

    top: 50%;
    margin-top: -8px;

    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.main-header__link--bookmarks::before {
    width: 14px;
    height: 16px;
    left: 17px;

    background-image: url("../img/icon-bookmark.svg");
}

.main-header__link--bookmarks:hover::before {
    background-image: url("../img/icon-bookmark-hover.svg");
}

.main-header__link--bookmarks:active::before,
.main-header__link--bookmarks:focus::before {
    background-image: url("../img/icon-bookmark.svg");
}

.main-header__link--cart::before {
    width: 15px;
    height: 15px;
    left: 18px;

    background-image: url("../img/icon-cart.svg");
}

.main-header__link--cart.main-header__link--full::before {
    background-image: url("../img/icon-cart-full.svg");
}

.main-header__link--cart:hover::before {
    background-image: url("../img/icon-cart-hover.svg");
}

.main-header__link--cart:active::before,
.main-header__link--cart:focus::before {
    background-image: url("../img/icon-cart.svg");
}

.main-header__link--order {
    padding-left: 0;

    color: #ffffff;
    background-color: #63a63e;
}

.main-header__link--order:hover {
    background-color: #5fbb2d;
}

.main-header__link--order:focus,
.main-header__link--order:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #518534;
}

/* breadcrumbs */

.breadcrumbs {
    display: flex;

    margin: 0;
    padding: 0;
    padding-top: 24px;

    flex-wrap: wrap;

    list-style: none;
}

.breadcrumbs__item {
    position: relative;
    display: inline-block;

    margin: 0;
    padding: 0;
    min-width: 14px;
    height: 36px;
    padding-right: 29px;
    margin-right: 12px;

    font-size: 13px;
    text-transform: uppercase;
    color: #000000;
}

.breadcrumbs__item a {
    color: #000000;
}

.breadcrumbs__item--home {
    width: 6px;

    font-size: 0;
}

.breadcrumbs__item--home::before {
    padding-right: 35px;
}

.breadcrumbs__item--home a {
    display: block;
    height: 14px;

    background-image: url("../img/icon-home.svg");
    background-repeat: no-repeat;
    background-position: 0 2px;;
}

.breadcrumbs__item:not(.breadcrumbs__item--current)::before {
    content: "";
    position: absolute;
    right: 0;

    height: 14px;
    padding-right: 34px;

    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: 20px 2px;
}

.breadcrumbs__item--current {
    margin-right: 0;
    padding-right: 0;
}

/* TODO: Как оформить .main-header__order-link при активном .main-header__search-input? */

.main-header__account {
    margin-left: auto;
}

/* start main-header__account-actions */

.main-header__account-actions {
    display: flex;

    margin: 0;
    padding: 0;
    margin-bottom: 9px;

    justify-content: flex-end;
    flex-wrap: wrap;

    list-style: none;
}

.main-header__account-action {
    position: relative;

    margin-right: 10px;
}

.main-header__account-action:last-child {
    margin-right: 0;
}

.main-header__account-action-button {
    display: block;

    /* height: 45px; */
    padding-right: 24px;
    padding-left: 24px;

    background-color: #ffffff;
    color: #000000;
    font-size: 21px;
    line-height: 40px;
}

.main-header__account-action-button:hover {
    color: #ee3643;
}

.main-header__account-action-button:focus,
.main-header__account-action-button:active {
    color: rgba(0, 0, 0, 0.5);
}

.main-header__account-action-button--register {
    width: 150px
}

.main-header__account-action--login a {
    padding-right: 25px;
    padding-left: 45px;
}

.main-header__account-action--login a::before {
    content: "";
    position: absolute;

    width: 20px;
    height: 17px;
    top: 50%;
    left: 12px;
    margin-top: -9px;

    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.main-header__account-action--login a:hover::before {
    background-image: url("../img/icon-login-hover.svg");
}

.main-header__account-action--login a:focus::before,
.main-header__account-action--login a:active::before{
    background-image: url("../img/icon-login.svg");
}

.main-header__account-action--logout a {
    position: relative;

    padding-right: 67px;
    padding-left: 45px;

}

.main-header__account-action--logout a::before {
    display: inline-block;

    position: absolute;

    left: 11px;
    top: 50%;
    width: 20px;
    height: 18px;
    margin-top: -9px;

    background-image: url("../img/icon-user.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;

    content: "";
}

.main-header__account-action--logout a:hover::before {
    background-image: url("../img/icon-user-hover.svg");
}

.main-header__account-action--logout a:active::before,
.main-header__account-action--logout a:focus::before {
    background-image: url("../img/icon-user.svg");
}

.main-header__account-action--logout a::after {
    display: inline-block;

    position: absolute;

    right: 10px;
    top: 50%;
    width: 21px;
    height: 17px;
    margin-top: -9px;

    background-image: url("../img/icon-logout.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;

    content: "";
}

.main-header__account-action--logout a:hover::after {
    background-image: url("../img/icon-logout-hover.svg");
}

.main-header__account-action--logout a:active::after,
.main-header__account-action--logout a:focus::after {
    background-image: url("../img/icon-logout.svg");
}

.main-header__account-links {
    display: flex;

    padding: 0;
    margin: 0;
    padding-left: 16px;

    flex-wrap: wrap;
    justify-content: flex-start;

    list-style: none;
}

.main-header__account-links--logged-out {
    display: none;
}

.main-header__account-link {
    position: relative;

    padding-right: 32px;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
}

.main-header__account-link:not(:last-child)::after {
    content: "";

    position: absolute;

    top: 50%;
    right: 14px;

    border: 1px solid #000000;
    width: 4px;
    height: 4px;
    margin-top: -2px;

    border-radius: 4px;

    background-color: #000000;
}

.main-header__account-link:last-child {
    margin-right: 0;
}

.main-header__account-link a {
    color: #32425c;
    text-decoration: underline;
}

.main-header__account-link a:hover {
    color: #ee3643;
}

.main-header__account-link a:active,
.main-header__account-link a:focus {
    color: rgba(50, 66, 92, 0.5);
}

/* main-nav */

.main-nav {
    color: #ffffff;
    font-family: Cuprum, Arial, sans-serif;
    font-size: 17px;
    text-align: center;
    line-height: 56px;
}

.main-nav__list {
    display: flex;

    margin: 0;
    padding: 0;

    justify-content: space-between;
    flex-wrap: wrap;

    list-style: none;
    background-color: #2e405c;
    color: #ffffff;
    box-shadow: 0 3px #263147;
}

.main-nav__item {
    flex-grow: 1;

}

.main-nav__item:first-child a {
    padding-left: 21px;
    /* padding-right: 4px; */
}

.main-nav__item:last-child a {
    /* padding-left: 5px; */
    padding-right: 23px;
}

.main-nav__item a {
    display: block;

    color: inherit;
}

.main-nav__item:not(.main-nav__item--current) a:hover {
    background-color: #293449;
}

.main-nav__item:not(.main-nav__item--current) a:active,
.main-nav__item:not(.main-nav__item--current) a:focus {
    background-color: #1d2739;
    color: rgba(255, 255, 255, 0.5);
}

/* main */

.main {
    padding-bottom: 86px;
}

.main--catalog {
    flex-direction: column;
}

.main__title {
    margin: 0;
    margin-bottom: 20px;
    padding-top: 1px;
    padding-left: 28px;
    line-height: 90px;

    background-color: #f2f6f8;
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: #32425c;
}

.main__catalog-choice {
    display: flex;
}

.main-filter {
    width: 220px;
    margin-right: 20px;
}

.main-filter__section {
    padding: 0;
    border: none;

    border-top: 1px solid #e5e5e5;
    margin-bottom: 23px;
}

.main-filter__section:last-of-type {
    margin-bottom: 80px;
}

.main-filter__form {
}

.main-filter__title {
    display: block;

    margin-bottom: 16px;
    padding-left: 18px;
    line-height: 35px;

    background-color: #f7f3ec;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
}

.main-filter__section-title {
    margin: 0;
    padding-top: 22px;

    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
}

.main-filter__list {
    margin: 0;
    padding: 0;

    padding-top: 20px;

    list-style: none;
}

/* TODO: Разобраться, как стилизовать hover и active */
.main-filter__checkbox,
.main-filter__radio {
    position: relative;

    margin-bottom: 23px;
    padding-left: 32px;

    font-size: 15px;
    text-transform: uppercase;
}

.main-filter__checkbox:last-child,
.main-filter__radio:last-child {
    margin-bottom: 0;
}

.main-filter__checkbox-label::before {
    content: "";

    position: absolute;

    width: 27px;
    height: 24px;
    left: -5px;
    top: 50%;
    margin-top: -12px;

    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.main-filter__checkbox-input + .main-filter__checkbox-label::before {
    background-image: url("../img/checkbox-off.svg");
}

.main-filter__checkbox-input:checked + .main-filter__checkbox-label::before {
    left: -3px;

    background-image: url("../img/checkbox-on.svg");
}

.main-filter__checkbox-input + .main-filter__checkbox-label:hover::before {
    background-image: url("../img/checkbox-off-hover.svg");
}

.main-filter__checkbox-input:checked + .main-filter__checkbox-label:hover::before {
    left: -3px;

    background-image: url("../img/checkbox-on-hover.svg");
}

.main-filter__radio-label::before {
    content: "";
    position: absolute;

    width: 27px;
    height: 26px;
    left: -3px;
    top: 50%;
    margin-top: -12px;

    background-repeat: no-repeat;
}

.main-filter__radio-input + .main-filter__radio-label::before {
    background-image: url("../img/radio-off.svg");
}

.main-filter__radio-input + .main-filter__radio-label:hover::before {
    background-image: url("../img/radio-off-hover.svg");
}

.main-filter__radio-input:checked + .main-filter__radio-label::before {
    left: -3px;

    background-image: url("../img/radio-on.svg");
}

.main-filter__radio-input:checked:hover + .main-filter__radio-label::before {
    background-image: url("../img/radio-on-hover.svg");
}

.main-filter__submit {
    padding-left: 38px;
    padding-right: 38px;

    background-color: transparent;
    border: 1px solid #e6e6e6;
    line-height: 36px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
}

.main-filter__submit:hover {
    border-color: #bec7cb;
}

.main-filter__submit:active,
.main-filter__submit:focus {
    border-color: #ef3341;
}

/* catalog */

.catalog {
    display: flex;

    width: 700px;

    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
}

.catalog__list {
    display: flex;

    margin: 0;
    padding: 0;

    flex-wrap: wrap;

    list-style: none;
}

.catalog__item {
    display: flex;

    position: relative;

    width: 218px;
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
    margin-right: 20px;
}

.catalog__item:nth-child(3n) {
    margin-right: 0;
}

.catalog__item--new::before {
    content: "";
    position: absolute;

    top: 0;
    right: 0;
    width: 60px;
    height: 60px;

    background-image: url("../img/new-flag.png");
    background-repeat: no-repeat;
}

.goods-card {
    display: flex;

    padding-top: 27px;
    padding-bottom: 14px;

    flex-direction: column;
    align-items: center;
}

.goods-card:hover .goods-card__image {
    display: none;
}

.goods-card:hover .goods-card__actions {
    display: block;
}

.goods-card__image {
    height: 150px;
    margin-left: -14px;
}

.goods-card__actions {
    display: none;
    box-sizing: border-box;
    height: 150px;              /* такая же, как .goods-card__image*/
    padding-top: 15px;
}

.goods-card__link {
    margin-bottom: 10px;

    font-size: 18px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.goods-card__price {
    margin: 0;

    font-size: 17px;
    font-weight: bold;
}

.goods-card__price::after {
    content: " р.";
    text-transform: uppercase;
}

.goods-card__price--old {
    margin-bottom: 4px;

    color: #999999;
    text-decoration-line: line-through;
    word-break: break-all;
}

.goods-card__price--new {
    margin-top: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;

    background-repeat: no-repeat;
    background-position: 5px 50%;
    background-image: url("../img/red-button.svg");
    color: #ffffff;
}

.goods-card__button {
    display: block;

    margin-left: 2px;
    margin-bottom: 8px;
    width: 135px;
    border: 3px solid;
    padding-top: 10px;
    padding-bottom: 8px;

    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
}

.goods-card__button:hover {
    cursor: pointer;
}

.goods-card__button--submit {
    padding-left: 12px;

    border-color: #63a83c;
    background-color: #63a83c;
    background-image: url("../img/icon-cart-submit.svg");
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

.goods-card__button--submit:hover {
    border-color: #5fbc29;
    background-color: #5fbc29;
    background-image: url("../img/icon-cart-hover.svg");
}

.goods-card__button--submit:active,
.goods-card__button--submit:focus {
    border-color: #508631;
    background-color: #508631;
    background-image: url("../img/icon-cart-submit.svg");
}

.goods-card__button--bookmark {
    border-color: #63a83c;
    padding-left: 12px;

    color: #32425c;
    background-color: #ffffff;
    background-repeat: no-repeat;
}

.goods-card__button--bookmark:hover {
    border-color: #2e405c;
    color: #32425c;
}

.goods-card__button--bookmark:active,
.goods-card__button--bookmark:focus {
    border-color: rgba(46, 64, 92, 0.5);
    color: rgba(50, 66, 92, 0.5);
}

/* pagination */

.pagination__list {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
}

.pagination__item {
    margin-right: 10px;

    font-size: 13px;
}

.pagination__item a {
    border: 1px solid #bec7cb;
    color: #000000;
}

.pagination__item a:hover,
.pagination__button:hover {
    border-color: #bec7cb;
}

.pagination__item a:active,
.pagination__item a:focus,
.pagination__button:active,
.pagination__button:focus {
    border-color: #ef3341;
}

.pagination__item--current {
    color: #ffffff;
    background-color: #ef3341;
}

.pagination__button {
    border: 1px solid #bec7cb;
    background-color: #ffffff;
}

/* group-descr */

.group-descr__title {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

.group-descr__text {
    font-size: 13px;
}

/* about, contacts */

.main__about-wrapper {
    display: flex;

    padding-top: 77px;
}

.about {
    width: 520px;
    margin-right: 120px;
}

.about,
.contacts {
    font-family: Cuprum, Arial, sans-serif;
    color: #000000;
}

.about__delivery-list {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 31px;
}

.about__delivery-item {
    position: relative;

    margin-bottom: 9px;
    padding-left: 36px;

    font-size: 18px;
    line-height: 31px;
}

.about__delivery-item::before {
    content: "";
    position: absolute;

    width: 25px;
    height: 2px;
    top: 13px;
    left: 0;

    background-color: #ee3643;
}

.about__text {
    margin-top: 0;
    margin-bottom: 24px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.about .about__text:last-of-type {
    margin-bottom: 16px;
}

.about__details-link {
    padding-left: 41px;
    padding-right: 40px;
}

.about__details-link,
.contacts__feedback-link {
    display: inline-block;

    min-height: 38px;
    line-height: 38px;

    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;

    background-color: #ef3341;
}

.about__details-link:hover,
.contacts__feedback-link:hover {
    background-color: #cb2834;
}

.about__details-link:active,
.about__details-link:focus,
.contacts__feedback-link:active,
.contacts__feedback-link:focus {
    background-color: #bb222e;
}

.contacts {
    width: 300px;
}

.contacts__title {
    margin: 0;
}

.contacts__text {
    width: 200px;
    margin-top: 0;
    margin-bottom: 32px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.contacts__map {
    margin-bottom: 36px;
}

.contacts__feedback-link {
    display: block;
    padding-left: 65px;
}

.about__title,
.contacts__title {
    display: block;

    margin-bottom: 24px;

    font-size: 30px;
    text-transform: uppercase;
    font-weight: normal;
}

/* footers */

.main-footer__nav {
    background-color: #3d546e;
    color: #ffffff;

    font-family: Cuprum, Arial, sans-serif;
}

.main-footer__main-nav {
    display: flex;

    margin-bottom: 32px;

    justify-content: space-between;
    align-items: flex-end;
}

.main-footer__logo {
    width: 220px;
    margin-right: auto;

    font-size: 30px;
    line-height: 64px;
    text-align: center;
    box-shadow: 0 3px #b0202b;
}

.main-footer__main-nav-list {
    display: flex;

    max-width: 710px;
    margin: 0;
    padding: 0;
    padding-bottom: 4px;

    flex-wrap: wrap;

    list-style: none;
}

.main-footer__main-nav-item {
    margin-right: 59px;
}

.main-footer__main-nav-item:last-child {
    margin-right: 0;
}

.main-footer__main-nav-item a {
    font-size: 18px;
    color: #f1f5f7;
}

.main-footer__main-nav-item a:hover {
    text-decoration: underline;
}

.main-footer__main-nav-item a:active,
.main-footer__main-nav-item a:focus {
    color: rgba(255,255,255,0.5);
}

.main-footer__catalog-nav {
    display: flex;

    padding-bottom: 52px;

    justify-content: space-between;
    align-items: flex-start;
}

.main-footer__address {
    width: 350px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    padding-left: 2px;
    line-height: 23px;
}

.main-footer__catalog-nav-list {
    display: flex;

    max-width: 560px;
    margin: 0;
    padding-left: 0;

    flex-wrap: wrap;

    list-style: none;
}

.main-footer__catalog-nav-item {
    margin-right: 60px;
}

.main-footer__catalog-nav-item:last-child {
    margin-right: 0;
}

.main-footer__catalog-nav-item a {
    font-size: 18px;
    color: rgb(255, 210, 129);
}

.main-footer__catalog-nav-item a:hover {
    text-decoration: underline;
}

.main-footer__catalog-nav-item a:active,
.main-footer__catalog-nav-item a:focus {
    color: rgba(255, 210, 129, 0.5);
}

.main-footer__address,
.main-footer__phone {
    font-size: 18px;
}

.main-footer__phone {
    color: #ffffff;
}

.main-footer__phone:hover,
.main-footer__phone:active,
.main-footer__phone:focus {
    color: rgba(255,255,255,0.5);
}

.main-footer__contacts {
    padding-bottom: 32px;
    padding-top: 36px;

    background-color: #33445b;
    color: #ffffff;

    font-family: Cuprum, Arial, sans-serif;
}

.main-footer__main {
    display: flex;
}

.main-footer__owner-copyright {
    width: 390px;
    margin: 0;
    padding-left: 1px;

    font-size: 16px;
}

.main-footer__social-list {
    margin: 0;
    padding-left: 0;
    width: 250px;

    list-style: none;
    font-size: 0;
}

.main-footer__social-icon {
    display: inline-block;

    height: 42px;
    width: 42px;
    margin-right: 2px;


}

.main-footer__social-icon a {
    display: block;
    height: 42px;

    border-radius: 24px;

    background-color: #1b2537;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.main-footer__social-icon a:hover {
    background-color: #ed3543;
    /* cursor: pointer; */
}

.main-footer__social-icon a:focus,
.main-footer__social-icon a:active {
    background-color: #ed3543;
    cursor: pointer;
}

/* TODO: Как показать ссылку? */
.main-footer__social-icon a::before {
    content: " ";
}

.main-footer__social-icon--vkontakte a {
    background-image: url("../img/icon-vk.svg");
}

.main-footer__social-icon--facebook a {
    background-image: url("../img/icon-fb.svg");
}

.main-footer__social-icon--instagram a {
    background-image: url("../img/icon-insta.svg");
}

.main-footer__feedback {
    width: 160px;
}

.main-footer__dev-copyright {
    box-sizing: border-box;
    width: 140px;
    padding-left: 29px;
}

.main-footer__feedback,
.main-footer__dev-copyright {
    font-size: 16px;
}

.main-footer__feedback-text,
.main-footer__dev-copyright-text {
    color: #ffffff;
}

.main-footer__feedback-link,
.main-footer__dev-copyright-link {
    color: #ffd180;
}

.main-footer__feedback-link:hover,
.main-footer__dev-copyright-link:hover {
    text-decoration: underline;
}

.main-footer__feedback-link:active,
.main-footer__feedback-link:focus,
.main-footer__dev-copyright-link:active,
.main-footer__dev-copyright-link:focus {
    color: #ef3341;
}



/* ------------------------------------- */

.main-footer {
    display: flex;
    flex-direction: column;
    font-family: Cuprum, Arial, sans-serif;
}

.main-footer__top {
    background-color: #2e405c;
    color: #ffffff;
}

.main-footer__top-container {
    display: flex;
}

.main-footer__bottom-container {
    display: flex;
}

.main-footer__top-left {
    width: 380px;
    margin-right: 10px;
}

.main-footer__top-right {
    width: 550px;
}

.main-footer__bottom {
    background-color: #293449;
    color: #ffffff;
}

.main-footer__address,
.main-footer__phone {
    font-size: 18px;
}

.main-footer__phone {
    color: #ffffff;
}

.main-footer__phone:hover,
.main-footer__phone:active,
.main-footer__phone:focus {
    color: rgba(255,255,255,0.5);
}

.main-footer-groups-nav__list {
    display: flex;

    justify-content: flex-end;

    list-style: none;
}

.main-footer-groups-nav__item a {
    margin-left: 60px;

    font-size: 18px;
    color: rgb(255, 210, 129);
}

.main-footer-groups-nav__item a:hover {
    text-decoration: underline;
}

.main-footer-groups-nav__item a:active,
.main-footer-groups-nav__item a:focus {
    color: rgba(255, 210, 129, 0.5);
}

.modal {
    display: none;
}

.modal-show {
    display: block;
    top: 0;
    left: 50%;

    animation: condense 0.4s;
}

/* modal-feedback */

.modal-feedback {
    position: fixed;

    width: 620px;
    margin-left: -310px;
    margin-top: 20px;
    padding-top: 47px;

    box-shadow: 0 -8px #ff5358, 0 20px 40px #000000;
    background-color: #ffffff;
}

.modal-feedback__text {
    box-sizing: border-box;
    border: 2px solid #dee3e4;
    padding-left: 15px;
    padding-right: 15px;

    border-radius: 3px;
}

.modal-feedback input {
    min-height: 34px;
    min-width: 220px;
}

.modal-feedback textarea {
    width: 460px;
    height: 114px;
    max-width: 460px;
    padding-top: 5px;
}

.modal-feedback__close {
    position: absolute;
    display: block;

    border: none;
    padding: 0;
    top: 9px;
    right: 9px;
    width: 21px;
    height: 21px;

    background-image: url("../img/icon-close.svg");
    background-color: rgba(255,255,255,0);

    cursor: pointer;
}

.modal-feedback__user {
    display: flex;

    margin-bottom: 16px;

    justify-content: center;
}

.modal-feedback__message {
    display: flex;

    margin-bottom: 37px;

    justify-content: center;
}

.modal-feedback__label {
    margin-right: 20px;
}

.modal-feedback__label:last-of-type {
    margin-right: 0;
}

.modal-feedback__label-text {
    display: block;

    margin: 0;
    margin-bottom: 9px;

    font-family: Cuprum, Arial, sans-serif;
    font-size: 18px;
}

.modal-feedback__text {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
}

.modal-feedback__actions {
    padding-top: 37px;
    padding-bottom: 37px;

    background-color: #f4f4f4;
}

.modal-feedback__button {
    display: block;

    width: 460px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    padding-bottom: 8px;

    border-radius: 3px;

    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;

    background-color: #ee3643;
    color: #ffffff;
}

.modal-feedback__button:hover {
    cursor: pointer;
    background-color: #ca2c37;
}

.modal-feedback__button:active,
.modal-feedback__button:focus {
    background-color: #ba2732;
}

/* modal-google-map */

.modal-google-map {
    position: relative;

    width: 940px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 16px #000000;
}

.modal-google-map__close {
    position: absolute;
    display: block;

    border: none;
    padding: 0;
    top: 9px;
    right: 9px;
    width: 21px;
    height: 21px;

    background-image: url("../img/icon-close.svg");
    background-color: rgba(255,255,255,0);

    cursor: pointer;
}

/* modal-card-added */

.modal-cart-added {
    margin-bottom: 30px;

    position: relative;

    width: 620px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 -8px #ff5358, 0 20px 40px #000000;
}

.modal-cart-added__title {
    margin: 0;

    padding-left: 182px;
    padding-top: 64px;
    padding-bottom: 62px;

    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;

    background-image: url("../img/check-mark.png");
    background-repeat: no-repeat;
    background-position: 81px 50px;
}

.modal-cart-added__actions {
    display: flex;

    padding-left: 80px;
    padding-right: 80px;
    padding-top: 37px;
    padding-bottom: 37px;

    justify-content: space-between;

    background-color: #f1f1f1;
}

.modal-cart-added__button {
    box-sizing: border-box;

    border: none;

    width: 220px;
    padding-top: 8px;
    padding-bottom: 8px;

    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.modal-cart-added__button--submit {
    background-color: #ee3643;
    color: #ffffff;
    text-align: center;
}

.modal-cart-added__button--submit:hover {
    cursor: pointer;
    background-color: #ca2c37;
}

.modal-cart-added__button--submit:active,
.modal-cart-added__button--submit:focus {
    background-color: #ba2732;
}

.modal-cart-added__button--continue:hover {
    cursor: pointer;
}

.modal-cart-added__button--continue {
    background-color: #ffffff;
    color: #000000;
}

.modal-cart-added__close {
    position: absolute;
    display: block;

    border: none;
    padding: 0;
    top: 9px;
    right: 9px;
    width: 21px;
    height: 21px;

    background-image: url("../img/icon-close.svg");
    background-color: rgba(255,255,255,0);

    cursor: pointer;
}

/* Анимация */

@keyframes condense {
    0% {
        filter: blur(10px);
        opacity: 0;
        transform: translateY(-200px);
    }

    80% {
        filter: blur(1px);
        opacity: 0.8;
        transform: translateY(-5px);
    }

    100% {
        filter: blur(0);
        opacity: 1;
        transform: translateY(0);
    }
}
